<div class="lp-background">
  <section id="top", class="bg-mask">
    <h1 class="shadow mx-auto d-block text-white font-weight-bold">Welcome to PAMER!</h1>
    <h2 class="shadow mx-auto d-block text-white font-italic font-weight-bold mt-5">
      Let's make Japanese friend!
    </h2>
    <!-- 検索拡張機能 -->
    <div class="row my-5 mx-lg-1">
      <div class="col-md-6 offset-md-3">
        <p class="shadow text-white font-italic mt-n4">Let's go to a trip to look for the special plan!</p>
        <%= form_for(:search, url: plans_path, method: 'get') do |f| %>
          <%= f.text_field :kwd, value: search_params("kwd"), class: "form-control-sm w-50 mr-3 mb-3" %>
          <div class="row">
            <div class="col-md-5 offset-md-3">
              <%= f.select :tag, [["Food&Drink", "Food&Drink"], ["Alchol", "Alchol"],
              ["Event", "Event"], ["Activity", "Activity"], ["Trend", "Trend"], ["Secret Spot", "Secret Spot"],
              ["Shopping", "Shopping"], ["School", "School"], ["Kawaii", "Kawaii"]],
              include_blank: true, selected: search_params("tag"), class: "form-control-lg ml-5" %>
            </div>
            <div class="col-md-4">
              <%= f.submit 'Search', name: nil, class: "btn btn-sm btn-primary rounded-pill w-50 ml-n5" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section id="genre">
    <h3 class="text-center heading mb-5">Genre</h3>
    <div class="row mx-lg-1">
      <div class="col-md-4">
        <p class="text-center border mb-5">Food&Drink</p>
        <p class="text-center border">Activity</p>
      </div>
      <div class="col-md-4">
        <p class="text-center border mb-5">Alchol</p>
        <p class="text-center border mb-5">Trend</p>
        <p class="text-center border">Kawaii</p>
      </div>
      <div class="col-md-4">
        <p class="text-center border mb-5">Event</p>
        <p class="text-center border">Secret Spot</p>
      </div>
    </div>
  </section>
  <section id="outline">
    <h3 class="text-white heading mb-5 text-center">What is PAMER?</h3>
    <div class="row mx-lg-1">
      <div class="col-md-4">
        <%= image_tag "tabi.JPG", width: "200", height: "200",
        class: "mt-1 mb-3 w-auto", alt: "PAM logo" %>
        <small class="mx-auto d-block text-white">We can connect Japanese guide to foreign</small>
        <small class="mx-auto d-block text-white">people who want to be guided!</small>
      </div>
      <div class="col-md-4 mt-5">
        <%= image_tag "study.jpg", width: "200", height: "200",
        class: "mt-5 mb-3 w-auto", alt: "PAM logo" %>
        <small class="mx-auto d-block text-white">PAMER is for only students!</small>
      </div>
      <div class="col-md-4">
        <%= image_tag "relax.jpg", width: "200", height: "200",
        class: "mt-1 mb-3 w-auto", alt: "PAM logo" %>
        <small class="mx-auto d-block text-white">Have a nice day with your new friends!</small>
      </div>
    </div>
  </section>
  <section id="method">
    <h3 class="mb-5 heading text-center">How to use?</h3>
    <div class="row mt-5 mx-lg-1">
      <div class="col-md-3 mt-5">
        <div class="row">
          <div class="col-md-9 mt-4 ml-2">
            <small>1.Sign up！</small>
            <%= link_to image_tag("register.jpg", width: "100", height: "100",
                class: "mx-auto d-block w-75", alt: "PAM logo"), new_user_registration_path %>
            <small class="text-center">Click to sign up here!</small>
          </div>
          <div class="col-md-3 ml-n3">
            <%= image_tag "arrow.jpg", width: "50", height: "50",
            class: "mx-auto d-block mt-4 mb-4 w-auto rotate-u", alt: "PAM logo" %>
            <%= image_tag "arrow.jpg", width: "50", height: "50",
            class: "mx-auto d-block mt-5 mb-4 w-auto rotate-d", alt: "PAM logo" %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-9">
            <small>2.Apply the plan</small>
            <%= image_tag "apply.jpg", width: "100", height: "100",
            class: "mx-auto d-block mb-5 w-auto", alt: "PAM logo" %>
            <%= image_tag "make-plan.png", width: "100", height: "100",
            class: "mx-auto d-block mt-5 w-auto", alt: "PAM logo" %>
            <small class="mt-3">2.Make the plan！</small>
          </div>
          <div class="col-md-3 ml-n2">
            <%= image_tag "arrow.jpg", width: "50", height: "50",
            class: "mx-auto d-block mt-5 mb-5 w-auto", alt: "PAM logo" %>
            <%= image_tag "arrow.jpg", width: "50", height: "50",
            class: "mx-auto d-block mt w-auto", alt: "PAM logo" %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-9">
            <small>3.Chat with the foreigner</small>
            <%= image_tag "chat-with.png", width: "100", height: "100",
            class: "mx-auto d-block mb-5 w-75", alt: "PAM logo" %>
            <%= image_tag "chat.jpg", width: "100", height: "100",
            class: "mx-auto d-block mt-5 w-auto", alt: "PAM logo" %>
            <small class="mt-3">3.Reply to the guide！</small>
          </div>
          <div class="col-md-3 mt-2">
            <%= image_tag "arrow.jpg", width: "50", height: "50",
            class: "mx-auto d-block my-5 w-auto rotate-d", alt: "PAM logo" %>
            <%= image_tag "arrow.jpg", width: "50", height: "50",
            class: "mx-auto d-block mt3 w-auto rotate-u", alt: "PAM logo" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt2 ml-n3">
        <small>4.Have a good day！</small>
        <%= image_tag "nice.jpg", width: "100", height: "100",
        class: "mx-auto d-block w-auto", alt: "PAM logo" %>
      </div>
      </div>
    </div>
  </section>
</div>
