<div>
  <h1 class="mt-3">Sign up</h1>
    <div class="row justify-content-center">
      <div class="col-md-5 col-md-offset-4">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.text_field :name, placeholder: "name", class: "mt-3", autofocus: true %>
        </div>

        <div class="field">
          <%= f.text_field :number, placeholder: "phone number", class: "mt-3", autofocus: true %>
        </div>

        <div class="field">
          <%= f.email_field :email, placeholder: "email", class: "mt-3 mb-3", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.text_field :university, placeholder: "university", class: "mb-3", autofocus: true %>
        </div>

        <div class="field">
          <%= f.text_field :major, placeholder: "major", class: "mb-3", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, placeholder: "password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "password confirmation", class: "mt-3 mb-2", autocomplete: "new-password" %>
        </div>

        <%= f.label :guide, class: "checkbox inline" do %>
          <%= f.check_box :guide, :as => :boolean, checked:false %>
          <span>Are you Inbound?</span>
        <% end %>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary btn-block rounded-pill mt-3" %>
        </div>
        <% end %>

        <%= link_to user_facebook_omniauth_authorize_path,
          class: "btn btn-primary mt-2 rounded-pill" do %>
          <%= image_tag("flogo_RGB_HEX-114.png", alt: "facebook logo",
            width: '35', height: '35', class: "rounded-circle") %>
          Sign up with facebook
        <% end %>
    </div>
  </div>
</div>
