<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @user.picture.url, class: "h-auto w-auto d-block mx-auto" %>
    </div>

    <div class="col-md-6">
      <div class="row field">
        <label class="mr-4 col-sm-2 font-italic">Name</label>/
        <div class="col-sm-5">
          <nobr>
            <span class="mb-2"><%= @user.name %></span>
          </nobr>
        </div>
      </div>

      <div class="row field">
        <label class="mr-4 col-sm-2 font-italic">University</label>/
        <div class="col-sm-5">
          <nobr>
            <span class="mb-2"><%= @user.university %></span>
          </nobr>
        </div>
      </div>

      <div class="row field">
        <label class="mr-4 col-sm-2 font-italic">Major</label>/
        <div class="col-sm-5">
          <nobr>
            <span class="mb-2"><%= @user.major %></span>
          </nobr>
        </div>
      </div>

      <div class="row field">
        <label class="mr-4 col-sm-2 font-italic">Hometown</label>/
        <div class="col-sm-5">
          <nobr>
            <span class="mb-2"><%= @user.hometown %></span>
          </nobr>
        </div>
      </div>

      <div class="row filed">
        <label class="mr-4 col-sm-2 font-italic">Hobby</label>/
        <div class="col-sm-5">
          <nobr>
            <span class="mb-2"><%= @user.hobby %></span>
          </nobr>
        </div>
      </div>

      <div class="row field">
        <label class="mr-4 col-sm-2 font-italic">Detail</label>/
        <div class="col-sm-8">
          <span class="mb-2 word-break"><%= @user.detail %></span>
        </div>
      </div>

      <div class="actions">
        <div class="row justify-content-center">
          <% if @user == current_user %>
            <%= link_to "to edit page", profile_edit_path,
              class: "w-50 btn btn-sm btn-primary rounded-pill mt-5 ml-5" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<div class="dropdown-divider"></div>
<h4 class="font-italic mt-5 mb-5 text-center">Like Plans</h4>
<ul class="plans">
  <div class="row">
  <% @user.liked_plans.each do |plan| %>
  <div class="col-6 col-md-4 mt-4">
    <div class="card">
      <%= link_to image_tag(plan.image, class: "card-img-top", height: "241.5", alt: "サンプル画像"),
          user_plan_path(plan.user_id, plan.id) %>
      <div class="card-body">
      <div class="card-title"><%= plan.name %><%= link_to "more detail", user_plan_path(plan.user_id, plan.id),
          class:"float-right btn btn-sm btn-primary mt-n1" %></div>
      <div class="card-text">
        <div class="row">
          <div class="col-md-7">
            <%= plan.tag %>
          </div>
          <div class="col-md-5">
            <% if current_user&.id == plan.user.id %>
              <%= link_to 'Edit', edit_user_plan_path(@user.id, plan.id) %>
              <%= link_to 'Destroy', user_plan_path(@user.id, plan.id), method: :delete,
              data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</ul>
</div>
