<h1 class="font-italic mt-3">Chat with <%= @user.name %></h1>

<div class="row">
  <div class="chat-user col-md-3 offset-sm-1">
    <% @requests.each do |request| %>
      <% if current_user.guide %> <%# 旅行者のとき %>
        <% user = request.guide %>
      <% else %> <%# ガイドのとき %>
        <% user = request.tourist %>
      <% end %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= link_to image_tag(user.picture.url, width: "60", height: "60",
              class: "chat-img rounded-circle"), room_path(user.id) %>
        </div>
        <div class="col-md-8 ml-2">
          <h6><%= link_to user.name, room_path(user.id) %></h6>
          <span><%= user.university %></span>
        </div>
      </div>
    <% end %>
  </div>
  <section class="message_box col-md-7">
    <div id="messages" data-session="<%= session[:user_id] %>">
      <%= render @messages %>
    </div>
  </section>
</div>

<script type="text/javascript">
  var height = 0;
  $("div.message").each( function() {
    height += ($(this).outerHeight());
  });
  $('section.message_box').scrollTop(height);
</script>
<div class="row">
  <div class="col-md-3 offset-md-1">
  </div>
  <div class="message_form col-md-7">
    <%= render 'messages/message_form',
    {from_user: current_user, to_user: @user, room_id: @room_id} %>
  </div>
</div>
