<%= form_for(@plan, url: user_plan_path(@user.id, @plan.id)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="row">
  <div class="col-6">
    <div class="mt-3 mb-3">
      <%= image_tag @plan.image, class: "mx-auto d-block", height: "250", alt: "サンプル画像" %>
    </div>
      <%= f.file_field :image , class:"mt-3 ml-5 w-75" %>
    <div style="height:280px;" class="rounded-circle col-7 ml-5 mt-5">
      <%= image_tag @user.picture, class: "mx-auto d-block rounded-circle mt-4", width: "250", height: "250", alt: "サンプル画像" %>
    </div>
  </div>
  <div style="height:500px;" class="col-6 border border-secondary mt-3">
    <p>The name of plan<p>
      <%= f.text_field :name, class:"h-10 col-6 center", placeholder: "ex) Let's go to Asakusa" %>
    <p>Plan detail</p>
      <%= f.text_area :content, rows: "10", cols: "20", class:"h-50"%>
    <div class="input-group mb-3 mt-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">ジャンル</label>
      </div>
     <%= f.select :tag, [["Food&Drink", "Food&Drink"], ["Alchol", "Alchol"],
      ["Event", "Event"], ["Activity", "Activity"], ["Trend", "Trend"], ["Secret Spot", "Secret Spot"],
      ["Shopping", "Shopping"], ["School", "School"], ["Kawaii", "Kawaii"]] ,class:"form-control" %>
    </div>
    <%= f.submit "Edit the plan", class: "btn btn-primary mt-5" %>
  </div>
</div>
<% end %>
