<%= form_for(@plan, url: user_plans_path) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="row mt-5 mb-5">
  <div class="col-6">
    <div style="height:250px;", class="mx-auto col-8 border border-secondary mt-3 mb-3">
      <p>Plan's image</p>
    </div>
      <div class="field">
        <%= f.file_field :image , class:"mt-3 mb-5 ml-5 w-75" %>
      </div>
    <div>
      <p><%= @user.name %>'s image</p>
      <%= image_tag @user.picture, width: "250", height: "250",
          class: "plan-img mx-auto d-block rounded-circle", alt: "サンプル画像" %>
    </div>
  </div>

  <div style="height:500px;" class="col-6 border border-secondary mt-3 mb-3">
    <p>The name of plan<p>
      <%= f.text_field :name , class:"h-10 col-6 center", :placeholder =>"ex) Let's go to Asakusa"%>
    <p>Plan detail</p>
      <%= f.text_area :content, rows: "10", cols: "20", class:"h-50", :placeholder =>"ex) Im going to take you to Asakusa. Here is the one of the most famous place for foreigner in Japan."%>
    <div class="input-group mb-3 mt-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">ジャンル</label>
      </div>
      <%= f.select :tag, [["Food&Drink", "Food&Drink"], ["Alchol", "Alchol"],
      ["Event", "Event"], ["Activity", "Activity"], ["Trend", "Trend"], ["Secret Spot", "Secret Spot"],
      ["Shopping", "Shopping"], ["School", "School"], ["Kawaii", "Kawaii"]] ,class:"form-control" %>
    </div>
    <%= f.submit "Create the plan", class: "btn btn-lg btn-primary rounded-pill mt-5" %>
  </div>
</div>
<% end %>
