<% provide(:title, @user.name) %>
<div class="row mb-5">
  <div class="col-md-6">
    <div class="field">
      <%= image_tag @plan.image , class: "mx-auto d-block mt-3 mb-3 w-auto",
          height: "250", alt: "プラン画像" %>
    </div>
    <div>
      <%= image_tag @user.picture, class: "mx-auto d-block rounded-circle mt-5 h-auto w-auto",
          alt: "ユーザー画像" %>
    </div>
  </div>

  <div style="height:500px;" class="col-6 border border-secondary mt-3">
    <h5 class="mt-3 mb-3">The name of plan</h5>
    <div class="h-10 col-6 border border-secondary">
      <%= @plan.name %>
    </div>
    <h5 class="mt-3">Plan detail</h5>
    <p class="h-50 border border-secondary mt-3">
      <%= @plan.content %>
    </p>
    <h5 class="mt-3">The name of tag</h5>
    <div class="input-group mb-3 mt-3 border border-secondary">
      <%= @plan.tag %>
    </div>
      <% if current_user.guide == true %>
        <%= link_to "Apply", plan_requests_path(@plan, guide_id: @plan.user.id), method: :post, data: { confirm: 'Are you sure?' },
            class: "mx-auto d-block btn btn-primary mt-5 rounded-pill w-75" %>
      <% end %>
  </div>
</div>
