<footer class='text-center card mt-4'>
  <div class="wrapper">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <ul class="nav flex-column mt-3">
          <li class="nav-item mt-3"><%= link_to '運営会社', '#', class: "nav-link" %></li>
          <li class="nav-item mt-2"><%= link_to 'ブログ', '#', class: "nav-link" %></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="nav flex-column mt-3">
          <li class="nav-item mt-3"><%= link_to 'ヘルプ', help_path, class: "nav-link" %></li>
          <li class="nav-item mt-2"><%= link_to 'サイトマップ', '#', class: "nav-link" %></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="nav flex-column mt-3">
          <li class="nav-item mt-3"><%= link_to '利用規約', '#', class: "nav-link" %></li>
          <li class="nav-item mt-2"><%= link_to 'プライバシーポリシー', '#', class: "nav-link" %></li>
          <li class="nav-item mt-2"><%= link_to '特定商取引', '#', class: "nav-link" %></li>
        </ul>
      </div>
    </div>
    <h7>© copyright 2019 PAM Inc. All Rights Reserved.</h7>
  </div>
</footer>
