<header class="navbar navbar-fixed-top navbar-light bg-light">
  <div class="container">
    <%= link_to image_tag("PAM.png", alt: "PAM logo",
             width: '50', height: '50'), root_path %>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to "Plans", '#', class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Guides", '#', class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Signup", '#', class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Login", '#', class: "nav-link"%></li>
      </ul>
    </nav>
    </div>
</header>
