<header class="navbar navbar-fixed-top navbar-light bg-light">
  <div class="container">
    <%= link_to "PAMER", root_path, id: "logo"%>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to "Plans", '#', class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Guides", '#', class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Signup", '#', class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Login", '#', class: "nav-link"%></li>
      </ul>
    </nav>
    </div>
</header>
